/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.8); /*black*/
}

/* Bootstrap navbar block content */
body {
    padding-top:65px;
    font-family: "Aclonica";
    line-height: 30px;
}

h1{
    text-align: center;
    font-family: "Aclonica";
}

#logoDiv{
    margin:0 auto;
    text-align: center;
}

#table{
    text-align: center;
    font-size: 20px;
    font-family: "Aclonica";
    display: table;
}

#img1{
    color: #ff2d00;
}
