{% comment "Documentation" %}

Small piece of JavaScript to help rendering calendar

{% endcomment %}


<script>
$(document).ready(function() {
		
	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		defaultDate: "{{ today }}", /* python */
		navLinks: true, // can click day/week names to navigate views
		selectable: false,
		selectHelper: true,
		select: function(start, end) {
			var title = prompt('Event Title:');
			var eventData;
			if (title) {
				eventData = {
					title: title,
					start: start,
					end: end
				};
				$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
			}
			$('#calendar').fullCalendar('unselect');
		},
		editable: false,
		eventLimit: true, // allow "more" link when too many events
		events: [
			/* python */
			{% for event in events %}
				{
				    url   : "{% url 'roomalloc:res_detail' event.event_id %}",
					title : "{{ event.title }}",
					start : "{{ event.start }}",
					end	  : "{{ event.end }}"
				},
			{% endfor %}
			/* /python */
		]
	});
	
});
</script>