
{% extends "./public_base.html" %}
{% load static %}

{% block container %}

<div class="container">
  
  <!-- Wrapper for slides -->
  <div>
    <img src="http://www.purdue.edu/purdue/images/audience/about/multipleImagesRow_09-12-2016/about-image2.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h3 align="center">RoomAllocator</h3>
      <p align="center">West Lafayette, IN</p>
  </div>
    
  <div class="container text-left">    
    <h3>Our Team</h3><br>
    <div class="row">
      <div class="col-sm-4"> 
        <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAklAAAAJDUyYTNkZjE3LTZkMDUtNDA1Yy04NWM4LWU1NGE0YzQ1YzMwNA.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Richard Jung</p>  
        <p>Although he is an american citizen, he originates from Korea (Hint: not North). His mixed geographical status impacted his academic career which is why after he gets his BSc in Comp Sci, he is going to Law School.</p>
      </div>
      <div class="col-sm-4">
        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/20729378_877630799057642_5636562703625647502_n.jpg?oh=65c64226a584f83c7d264669146f1f9c&oe=5AAA88DE" class="img-responsive" style="width:100%" alt="Image">
        <p>Chau Nguyen Minh</p>
        <p>Originating from Vietnam, Chau has traveled many a miles to learn how to code. Pursueing Machine Learning Chau believes he will be able to help bring "Terminator" to reality.</p>
      </div>
      <div class="col-sm-4"> 
        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/14705755_10207557870493114_2084791302326720460_n.jpg?oh=ec9dffc25a71a588431179e87c8ff73e&oe=5A6245BE" class="img-responsive" style="width:100%" alt="Image">
        <p>Arka Acharya</p>
        <p>Focusing on Software Engineering, Arka hopes to leave his mark on this world one application at a time. He will be known for his ingenuity for milenia. Ha Ha Ha.</p>
      </div>
    </div>
  </div>
  
  <div class = "container text-center" id="app">
      <h3>About Our Application</h3>
      <p>Unlike anything extraordinary, our application makes the ordinary more accessible. RoomAllocator helps students lookup and book rooms from any location. It also allows teachers/administrators to add or remove rooms that will be available for booking.</p>
  </div>
  
  <div class = "container text-center" id="cs252">
      <h3>About CS252</h3>
      <p>CS252 is a course that introduces an amateur coder to the available specializations and sub fields of study within the broad category we know to be Computer Science. Students are made to work on various projects which touch upon a concept from each track.</p>
  </div>

{% endblock %}