{% extends "./public_base.html" %}

{% block head_ref %}
<style type="text/css">
    #loginContainer {
        position: absolute;
        top: 350px;
        left: 850px;
    }
    #btnSubmit {
        position: absolute;
        top: 550px;
        left: 900px;
    }
    #logoSmall {
        width: 5%;
        position: absolute;
        top: 275px;
        left: 900px;
    }
</style>
{% endblock %}

{% block container %}

<div id=logoSmall> 
      <img src="https://pluralsight.imgix.net/paths/python-7be70baaac.png" class="img-responsive" style="width:100%" alt="Image">
     
    </div>

<div class="container">
<div id=loginContainer>

<h2>Log in </h2>

{% if error_msg %}

{{ error_msg }}

{% endif %}

<form method="post">
    {% csrf_token %}
    
    {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text|safe }}</small>
            {% endif %}
        </p>
      
    {% endfor %}
</div>
</div>  
    
    
    <button id=btnSubmit type="submit">Login</button>

 

</form>





{% endblock %}