{% extends "./public_base.html" %}

{% block head_ref %}
<style type="text/css">
#wrapper {
    margin-top: 200px;
    margin-left: 300px;
}    
#btnSignup {
    width: 10%;
    margin-left: 850px;
}
    </style>
{% endblock %}

{% block container %}

<div class="container">
    <div id=wrapper>
<h2>Create an Account</h2>

<form method="POST">
    {% csrf_token %}
    
    
    {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text|safe }}</small>
            {% endif %}
            
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
     
    {% endfor %}
</div>
</div>    
    
        <button id=btnSignup type="submit">Sign up</button>
      
</form>

{% endblock %}