{% extends "../user_base.html" %}
{% load static %}

{% block head_ref %}
<!-- Custom User CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'roomalloc/css/user.css' %}" />

<link href="{% static 'vendor/calendar/fullcalendar.min.css' %}" rel="stylesheet" />
<link href="{% static 'vendor/calendar/fullcalendar.print.min.css' %}" rel="stylesheet" media="print" />
<script src="{% static 'vendor/calendar/lib/moment.min.js' %}"></script>
<script src="{% static 'vendor/calendar/fullcalendar.min.js' %}"></script>
<script>
$(document).ready(function() {
		
	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		defaultDate: "{{ today }}", /* python */
		navLinks: true, // can click day/week names to navigate views
		selectable: false,
		selectHelper: true,
		select: function(start, end) {
			var title = prompt('Event Title:');
			var eventData;
			if (title) {
				eventData = {
					title: title,
					start: start,
					end: end
				};
				$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
			}
			$('#calendar').fullCalendar('unselect');
		},
		editable: false,
		eventLimit: true, // allow "more" link when too many events
		events: [
			/* python */
			{% for event in events %}
				{
					title : "{{ event.title }}",
					start : "{{ event.start }}",
					end	  : "{{ event.end }}"
				},
			{% endfor %}
			/* /python */
		]
	});
	
});
</script>
{% endblock %}



{% block container %}

<div class="container">
    
    <!-- Room detail -->
    <h2>Room detail </h2>
    
    <h3>{{ room.location }}, {{ room.name }}</h3>
    
    <p>Room capacity: {{ room.capacity }}</p>
    <p>Is Reservable:
        {% if room.is_reservable %}
            <img id="reservable" src="{% static 'roomalloc/icon/icon-yes.svg' %}" alt="Yes"/>
        {% else %}
            <img id="reservable" src="{% static 'roomalloc/icon/icon-no.svg' %}" alt="No"/>
        {% endif %}
    </p>
    
    {{ room.tech|safe }}
    <!-- /Room detail -->
    
    
    <!-- Reserve button -->
    <a class="button btn btn-info" href="{% url 'roomalloc:room_reserve' room.id %}">
    	<i class="fa fa-paper-plane" aria-hidden="true"></i> Reserve room
	</a>
    
    <!-- /Reserve button -->
    
    
    <!-- Calendar -->
    <p>Schedule Lists...</p>
    <div id="calendar"></div>
    <!-- /Calendar -->
</div>
{% endblock %}