{% extends "../user_base.html" %}
{% load static %}

{% block head_ref %}
<!-- Custom User CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'roomalloc/css/user.css' %}" />

<link href="{% static 'vendor/calendar/fullcalendar.min.css' %}" rel="stylesheet" />
<link href="{% static 'vendor/calendar/fullcalendar.print.min.css' %}" rel="stylesheet" media="print" />
<script src="{% static 'vendor/calendar/lib/moment.min.js' %}"></script>
<script src="{% static 'vendor/calendar/fullcalendar.min.js' %}"></script>

{% include "./room_calendar.html" %}

{% endblock %}



{% block container %}

<div class="container">
    
    <!-- Room detail -->
    <h2>Room detail </h2>
    
    <h3>{{ room.location }}, {{ room.name }}</h3>
    
    <p>Room capacity: {{ room.capacity }}</p>
    <p>Is Reservable:
        {% if room.is_reservable %}
            <img id="reservable" src="{% static 'roomalloc/icon/icon-yes.svg' %}" alt="Yes"/>
        {% else %}
            <img id="reservable" src="{% static 'roomalloc/icon/icon-no.svg' %}" alt="No"/>
        {% endif %}
    </p>
    
    {{ room.tech|safe }}
    <!-- /Room detail -->
    
    
    <!-- Reserve button -->
    <a class="button btn btn-info" href="{% url 'roomalloc:room_reserve' room.id %}">
    	<i class="fa fa-paper-plane" aria-hidden="true"></i> Reserve room
	</a>
    
    <!-- /Reserve button -->
    
    
    <!-- Calendar -->
    <p>Schedule Lists...</p>
    <div id="calendar"></div>
    <!-- /Calendar -->
</div>
{% endblock %}