{% extends "../user/user_base.html" %}
{% load static %}

{% block container %}

<div class="container">
    
    <h2>Room detail </h2>
    
    <h3>{{ room.location }}, {{ room.name }}</h3>
    
    <p>Room capacity: {{ room.capacity }}</p>
    <p>Is Reservable:
        {% if room.is_reservable %}
            <img src="{% static 'roomalloc/icon/icon-yes.svg' %}" alt="Yes"/>
        {% else %}
            <img src="{% static 'roomalloc/icon/icon-no.svg' %}" alt="No"/>
        {% endif %}
    </p>
    <p>{{ room.tech|safe }}</p>
    
    <p>Schedule Lists...</p>
    
</div>
{% endblock %}