
{% extends "../base.html" %}

{% block nav %}

<ul class="nav navbar-nav">
    <li class="{% if nbar == 'user_reserve' %}active{% endif %}">
        <a href="{% url 'roomalloc:user_reserve' %}">Reserve</a>
    </li>
    <li class="{% if nbar == 'room_explore' %}active{% endif %}">
        <a href="{% url 'roomalloc:room_explore' %}">Explore room</a>
    </li>
</ul>
    
<ul class="nav navbar-nav navbar-right">
    
    <li class="{% if nbar == 'update_profile' %}active{% endif %}">
        <a href="{% url 'roomalloc:update_profile' %}">
            <span class="glyphicon glyphicon-cog"></span> Hello, {{ request.user.username }}
        </a>
    </li>
    <li class="{% if nbar == 'login' %}active{% endif %}">
        <a href="{% url 'roomalloc:logout' %}"><span class="glyphicon glyphicon-log-out"></span>Log out</a>
    </li>
</ul>

{% endblock %}