{% extends "./user_base.html" %}
{% load static %}

{% block head_ref %}
<!-- Custom User CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'roomalloc/css/user.css' %}" />
{% endblock %}

{% block container %}
<div class="container">
    
    
    <!-- Logo -->
    <div class="col-lg-3 col-md-3" id="logo"> 
        <img src="{% static 'roomalloc/img/logoWhite.png' %}" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <!-- /Logo -->
        
    <!-- Update form -->
    <div class="col-lg-5 col-md-5" id="wrapper">
    <h2>Update profile</h2>
    
    {% if msg %}
        <h2>
            <span class="label label-success">{{ msg }}</span>
        </h2>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        
        {% for field in form1 %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text|safe }}</small>
                {% endif %}
                
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
          
        {% endfor %}
        
        {% for field in form2 %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text|safe }}</small>
                {% endif %}
                
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
          
        {% endfor %}
        
        <button class="btn btn-info" type="submit">
            Update profile
        </button>
    </form>
    </div>
</div>

{% endblock %}


